services:
  - type: web
    name: buggxit-store
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: file
    healthCheckPath: /health
    autoDeploy: true
    domains:
      - buggxit.store
      - www.buggxit.store