@import 'tailwindcss';
@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@font-face {
    font-family: 'WalkwayRounded';
    src: url('/public/fonts/walkway/WalkwayRounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'WalkwayRounded', sans-serif;
}

