@import 'tailwindcss';

/* Optional: If you need to import specific layers */
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@font-face {
    font-family: 'WalkwayRounded';
    src: url('/public/fonts/walkway/WalkwayRounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'WalkwayRounded', sans-serif;
}